[Unit]
Description=Fan control daemon

[Service]
Type=simple
ExecStart=/usr/local/bin/fan-daemon --interval 2 --fans 2
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
RuntimeDirectory=fan-control

[Install]
WantedBy=multi-user.target