#include <windows.h>

// Application Icon
1 ICON "../../packaging/icons/fan-control.ico"

// Application Manifest
1 RT_MANIFEST "../../packaging/windows/manifest.xml"

// Version Information
VS_VERSION_INFO VERSIONINFO
FILEVERSION 2,0,0,0
PRODUCTVERSION 2,0,0,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
FILEFLAGS 0x1L
#else
FILEFLAGS 0x0L
#endif
FILEOS 0x40004L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904b0"
        BEGIN
            VALUE "CompanyName", "Community Project"
            VALUE "FileDescription", "Clevo/Tongfang Fan Control"
            VALUE "FileVersion", "2.0.0.0"
            VALUE "InternalName", "fan-control"
            VALUE "LegalCopyright", "Open Source Community"
            VALUE "OriginalFilename", "fan-control.exe"
            VALUE "ProductName", "Fan Control"
            VALUE "ProductVersion", "2.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
